/*  Display  */

.main {
	background-color: rgba(221, 221, 221, 0.767);
}

.sorter {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.details {
	width: 100vh;
	flex-direction: row;
	align-content: center;
}

.grid tr:nth-child(odd) {
	background-color: grey;
}

.specs {
	padding: 0.6rem 1rem;
	border: solid 0.1rem;
}

.form {
	display: flex;
	padding: 0.4rem 3rem;
	background-color: green;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
/*  TABLE  */

.table {
	width: 100%;
	border-collapse: collapse;
}

.grid {
	border: solid 0.1rem;
}

.idNum {
	border: solid 0.1rem;
}
.idNum h3 {
	font-weight: bold;
}

.name {
	padding: 1rem 1rem;
	border: solid 0.1rem;
}

.initial {
	padding: 1rem 1rem;
	border: solid 0.1rem;
}

.status {
	padding: 1rem 1rem;
	border: solid 0.1rem;
}

.date {
	padding: 0.9rem 1rem;
	border: solid 0.1rem;
}

/*  Fonts   */
h1 {
	font-size: 1rem;
	font-weight: bold;
	color: gold;
}

h2 {
	color: white;
	margin: 0.2rem;
	font-size: 1.2rem;
}

h3 {
	display: none;
}

/* BUTTONS */

.buttons {
	background-color: rgba(221, 221, 221, 0.767);
}

button {
	padding: 0.6rem 3rem;
	cursor: pointer;
}

button:hover {
	background-color: purple;
}

h4 {
	position: relative;
}

.tog-active {
	background-color: rgb(0, 199, 0);
}

.tog-inactive {
	background-color: red;
}

.active {
	background-color: blue;
	padding: 1.5rem 5rem;
}

.active:hover .inactive:hover {
	background-color: purple;
}

.inactive {
	background-color: rgb(85, 85, 85);
	padding: 1.5rem 4.6rem;
}

.mod {
	background-color: rgb(37, 25, 199);
}

.del {
	background-color: red;
}

.submit {
	padding: 1rem 1rem;
	/* border: 0.1rem solid black; */
	background-color: blue;
	color: yellow;
	font-size: 0.8rem;
	font-weight: bold;
}

.submit:hover {
	background-color: red;
}

.show {
	background-color: blue;
	padding: 1rem 3.5rem;
	font-weight: bold;
	font-size: 0.92rem;
	color: yellow;
}

.hide {
	background-color: rgb(85, 85, 85);
	padding: 1rem 3.5rem;
	color: red;
}
