* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
}

.login {
	margin: 3rem 3rem;
	padding: 3rem 3rem;
	width: 120;
	font-size: 2rem;
	color: yellow;
	background-color: green;
	cursor: pointer;
}

.login:hover,
.logout:hover {
	background-color: purple;
	color: yellow;
}

.logout {
	margin: 3rem 3rem;
	padding: 3rem 3rem;
	width: 120;
	color: yellow;
	background-color: red;
	font-size: 2rem;
	cursor: pointer;
}

.img {
	width: 200px;
}

/* 
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
